Repository atsign-foundation/atsign.dev, pull requests merged in 2021-07, with the labels that each got.

#116 Update _index.md
  content/en/docs/Functional_Architecture/_index.md
Labels: Content

#144 Update Persistence Keystore Guide.md
  content/en/docs/Resources/Persistence Keystore Guide.md
Labels: Content

#203 HUGO_ENV="production" and set CNAME to atsign.dev
  .github/workflows/DeployProd.yml
Labels: atsign.dev 2.0

#200 Contributing guidelines include submodules for theme
  .gitignore
  CONTRIBUTING.md
  README.md
  content/.gitkeep
  content/en/docs/Functional_Architecture/libraries.md
  data/.gitkeep
  layouts/.gitkeep
  resources/_gen/assets/scss/scss/main.scss_9fadf33d895a46083cdd64396b57ef68.content
  resources/_gen/assets/scss/scss/main.scss_9fadf33d895a46083cdd64396b57ef68.json
  resources/_gen/images/Internet_Optimism1180-large_background_hu5728c8ad8032c912097b89c307e4324a_256419_1920x1080_fill_catmullrom_top_2.png
  resources/_gen/images/Internet_Optimism1180-large_background_hu5728c8ad8032c912097b89c307e4324a_256419_960x540_fill_catmullrom_top_2.png
  static/.gitkeep
Labels: atsign.dev 2.0, bug

#216 Add @dev.png
  content/en/docs/Functional_Architecture/libraries.md
  static/assets/img/@dev.png
Labels: atsign.dev 2.0

#217 Redirects for broken pub.dev links
  content/en/docs/Functional_Architecture/libraries.md
  static/apidocs/index.html
  static/at_docs-dev_env/at_persistence_secondary_server/index.html
Labels: atsign.dev 2.0

#221 Set correct baseURL for prod and staging
  .github/workflows/HugoBuild.yml
  README.md
  config.toml
Labels: atsign.dev 2.0, enhancement

#225 More specific link replacement for staging baseURL
  .github/workflows/HugoBuild.yml
Labels: atsign.dev 2.0, bug
